.skills {  
  padding: 60px 20px;
  background-color: #0e1a2b;
  color: #fff;
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.skills h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  margin: 0 auto;
}

.skill-card {
  background: #1c293e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 150px;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.skill-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #00d8ff;
}

.skill-card p {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: 10px;
}


@media (min-width: 1024px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
  }

  .skills h2 {
    font-size: 2.5rem;
  }
}


@media (max-width: 1023px) and (min-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }

  .skills h2 {
    font-size: 2.2rem;
  }

  .skill-card {
    width: 100%; 
    height: auto;
  }
}


@media (max-width: 767px) {
  .skills-container {
    grid-template-columns: 1fr; 
    gap: 15px; 
  }

  .skills h2 {
    font-size: 1.8rem;
  }

  .skill-card {
    width: 100%; 
    height: auto;
  }

  .skill-card img {
    width: 40px; 
    height: 40px;
  }

  .skill-card h3 {
    font-size: 0.95rem; 
  }

  .skill-card p {
    font-size: 0.85rem; 
  }
}
